##########################################################################
# If not stated otherwise in this file or this component's Licenses.txt
# file the following copyright and licenses apply:
#
# Copyright 2020 RDK Management
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##########################################################################
wifihal_start
wifi_init : WIFIHAL_Init
wifi_getRadioEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getRadioEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioEnable,paramType,(type=string),null
wifi_getSSIDEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getSSIDEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setSSIDEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setSSIDEnable,paramType,(type=string),null
wifi_getRadioDCSSupported : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getRadioDCSSupported,param,(type=integer),0,paramType,(type=string),null
wifi_getRadioDCSEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getRadioDCSEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioDCSEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioDCSEnable,paramType,(type=string),null
wifi_getRadioDfsSupport : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getRadioDFSSupported,param,(type=integer),0,paramType,(type=string),null
wifi_getRadioDfsEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getRadioDFSSupported,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioDfsEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioDFSEnable,paramType,(type=string),null
wifi_getRadioAutoChannelRefreshPeriodSupported : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getAutoChannelRefreshPeriodSupported,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioAutoChannelEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setAutoChannelEnable,paramType,(type=string),null
wifi_getRadioAutoChannelEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getAutoChannelEnable,param,(type=integer),0,paramType,(type=string),null
wifi_getRadioAutoChannelSupported : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getAutoChannelSupported,param,(type=integer),0,paramType,(type=string),null
wifi_getRadioStatus : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getRadioStatus,param,(type=integer),0,paramType,(type=string),null
wifi_getApEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getApEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setApEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setApEnable,paramType,(type=string),null
wifi_getApIsolationEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getApIsolationEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setApIsolationEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setApIsolationEnable,paramType,(type=string),null
wifi_getRadioIEEE80211hSupported : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getRadioIEEE80211hSupported,param,(type=integer),0,paramType,(type=string),null
wifi_getRadioIEEE80211hEnabled : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getRadioIEEE80211hEnabled,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioIEEE80211hEnabled : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioIEEE80211hEnabled,paramType,(type=string),null
wifi_getBandSteeringCapability : WIFIHAL_GetOrSetParamBoolValue = ;radioIndex,(type=integer),0,methodName,(type=string),getBandSteeringCapability,param,(type=integer),0,paramType,(type=string),null
wifi_getBandSteeringEnable : WIFIHAL_GetOrSetParamBoolValue = ;radioIndex,(type=integer),0,methodName,(type=string),getBandSteeringEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setBandSteeringEnable : WIFIHAL_GetOrSetParamBoolValue = param,(type=integer);radioIndex,(type=integer),0,methodName,(type=string),setBandSteeringEnable,paramType,(type=string),null
wifi_getRadioReverseDirectionGrantSupported : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getRadioReverseDirectionGrantSupported,param,(type=integer),0,paramType,(type=string),null
wifi_getRadioReverseDirectionGrantEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getRadioReverseDirectionGrantEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioReverseDirectionGrantEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioReverseDirectionGrantEnable,paramType,(type=string),null
wifi_getRadioDeclineBARequestEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getRadioDeclineBARequestEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioDeclineBARequestEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioDeclineBARequestEnable,paramType,(type=string),null
wifi_getRadioAutoBlockAckEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getRadioAutoBlockAckEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioAutoBlockAckEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioAutoBlockAckEnable,paramType,(type=string),null
wifi_getRadio11nGreenfieldSupported : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getRadio11nGreenfieldSupported,param,(type=integer),0,paramType,(type=string),null
wifi_getRadio11nGreenfieldEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getRadio11nGreenfieldEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setRadio11nGreenfieldEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadio11nGreenfieldEnable,paramType,(type=string),null
wifi_getRadioIGMPSnoopingEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getRadioIGMPSnoopingEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioIGMPSnoopingEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioIGMPSnoopingEnable,paramType,(type=string),null
wifi_getApRtsThresholdSupported : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getApRtsThresholdSupported,param,(type=integer),0,paramType,(type=string),null
wifi_getApSsidAdvertisementEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getApSsidAdvertisementEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setApSsidAdvertisementEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setApSsidAdvertisementEnable,paramType,(type=string),null
wifi_getApWMMCapability : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getApWMMCapability,param,(type=integer),0,paramType,(type=string),null
wifi_getApUAPSDCapability : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getApUAPSDCapability,param,(type=integer),0,paramType,(type=string),null
wifi_getApWmmEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getApWmmEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setApWmmEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setApWmmEnable,paramType,(type=string),null
wifi_getApWmmUapsdEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getApWmmUapsdEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setApWmmUapsdEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setApWmmUapsdEnable,paramType,(type=string),null
wifi_getApWpsEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getApWpsEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setApWpsEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setApWpsEnable,paramType,(type=string),null
wifi_getRadioAMSDUEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getRadioAMSDUEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioAMSDUEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioAMSDUEnable,paramType,(type=string),null
wifi_getApRtsThresholdSupported : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getApRtsThresholdSupported,param,(type=integer),0,paramType,(type=string),null
wifi_pushSsidAdvertisementEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),pushSsidAdvertisementEnable,paramType,(type=string),null
wifi_setRadioCtsProtectionEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioCtsProtectionEnable,paramType,(type=string),null
wifi_setRadioObssCoexistenceEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioObssCoexistenceEnable,paramType,(type=string),null
wifi_setRadioSTBCEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioSTBCEnable,paramType,(type=string),null
wifi_getDeclineBARequestEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getDeclineBARequestEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setDeclineBARequestEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setDeclineBARequestEnable,paramType,(type=string),null
wifi_getDfsEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer);methodName,(type=string),getDfsEnable,param,(type=integer),0,paramType,(type=string),null
wifi_setDfsEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setDfsEnable,paramType,(type=string),null
wifi_pushSsidAdvertisementEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),pushSsidAdvertisementEnable,paramType,(type=string),null
wifi_createHostApdConfig : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),createHostApdConfig,paramType,(type=string),null
wifi_kickApAclAssociatedDevices : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),kickApAclAssociatedDevices,paramType,(type=string),null
wifi_setRadioTrafficStatsRadioStatisticsEnable : WIFIHAL_GetOrSetParamBoolValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioTrafficStatsRadioStatisticsEnable,paramType,(type=string),null
wifi_getRadioChannel : WIFIHAL_GetOrSetParamULongValue = radioIndex,(type=integer);methodName,(type=string),getRadioChannel,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioChannel : WIFIHAL_GetOrSetParamULongValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioChannel,paramType,(type=string),null
wifi_getRadioAutoChannelRefreshPeriod : WIFIHAL_GetOrSetParamULongValue = radioIndex,(type=integer);methodName,(type=string),getAutoChannelRefreshPeriod,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioAutoChannelRefreshPeriod : WIFIHAL_GetOrSetParamULongValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setAutoChannelRefreshPeriod,paramType,(type=string),null
wifi_setRadioDfsRefreshPeriod : WIFIHAL_GetOrSetParamULongValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioDfsRefreshPeriod,paramType,(type=string),null
wifi_getRadioNumberOfEntries : WIFIHAL_GetOrSetParamULongValue = ;radioIndex,(type=integer),0,methodName,(type=string),getRadioNumberOfEntries,param,(type=integer),0,paramType,(type=string),null
wifi_getSSIDNumberOfEntries : WIFIHAL_GetOrSetParamULongValue = ;radioIndex,(type=integer),0,methodName,(type=string),getSSIDNumberOfEntries,param,(type=integer),0,paramType,(type=string),null
wifi_getRadioTransmitPower : WIFIHAL_GetOrSetParamULongValue = radioIndex,(type=integer);methodName,(type=string),getRadioTransmitPower,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioTransmitPower : WIFIHAL_GetOrSetParamULongValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioTransmitPower,paramType,(type=string),null
wifi_getApNumDevicesAssociated : WIFIHAL_GetOrSetParamULongValue = radioIndex,(type=integer);methodName,(type=string),getApNumDevicesAssociated,param,(type=integer),0,paramType,(type=string),null
wifi_getApWpsDevicePIN : WIFIHAL_GetOrSetParamULongValue = radioIndex,(type=integer);methodName,(type=string),getApWpsDevicePIN,param,(type=integer),0,paramType,(type=string),null
wifi_setApWpsDevicePIN : WIFIHAL_GetOrSetParamULongValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setApWpsDevicePIN,paramType,(type=string),null
wifi_getRadioUpTime : WIFIHAL_GetOrSetParamULongValue = radioIndex,(type=integer);methodName,(type=string),getRadioUpTime,param,(type=integer),0,paramType,(type=string),null
wifi_getApAssociatedDevicesHighWatermarkDate : WIFIHAL_GetOrSetParamULongValue = radioIndex,(type=integer);methodName,(type=string),getApAssociatedDevicesHighWatermarkDate,param,(type=integer),0,paramType,(type=string),null
wifi_getRadioResetCount : WIFIHAL_GetOrSetParamULongValue = radioIndex,(type=integer);methodName,(type=string),getRadioResetCount,param,(type=integer),0,paramType,(type=string),null
wifi_getRadioChannelsInUse : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getRadioChannelsInUse,param,(type=string),0,paramType,(type=string),null
wifi_getRadioPossibleChannels : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getRadioPossibleChannels,param,(type=string),0,paramType,(type=string),null
wifi_getRadioOperatingChannelBandwidth : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getChannelBandwidth,param,(type=string),0,paramType,(type=string),null
wifi_setRadioOperatingChannelBandwidth : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),setChannelBandwidth,paramType,(type=string),null
wifi_getRadioGuardInterval : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getRadioGuardInterval,param,(type=string),0,paramType,(type=string),null
wifi_setRadioGuardInterval : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),setRadioGuardInterval,paramType,(type=string),null
wifi_getRadioOperationalDataTransmitRates : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getOperationalDataTransmitRates,param,(type=string),0,paramType,(type=string),null
wifi_setRadioOperationalDataTransmitRates : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),setOperationalDataTransmitRates,paramType,(type=string),null
wifi_getRadioSupportedDataTransmitRates : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getSupportedDataTransmitRates,param,(type=string),0,paramType,(type=string),null
wifi_getRadioSupportedFrequencyBands : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getRadioSupportedFrequencyBands,param,(type=string),0,paramType,(type=string),null
wifi_getRadioOperatingFrequencyBand : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getRadioOperatingFrequencyBand,param,(type=string),0,paramType,(type=string),null
wifi_getRadioSupportedStandards : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getRadioSupportedStandards,param,(type=string),0,paramType,(type=string),null
wifi_getRadioIfName : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getRadioIfName,param,(type=string),0,paramType,(type=string),null
wifi_getSSIDStatus : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getSSIDStatus,param,(type=string),0,paramType,(type=string),null
wifi_getApBasicAuthenticationMode : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getApBasicAuthenticationMode,param,(type=string),0,paramType,(type=string),null
wifi_setApBasicAuthenticationMode : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),setApBasicAuthenticationMode,paramType,(type=string),null
wifi_getApBeaconType : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getApBeaconType,param,(type=string),0,paramType,(type=string),null
wifi_setApBeaconType : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),setApBeaconType,paramType,(type=string),null
wifi_getApSecurityModeEnabled : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getApSecurityModeEnabled,param,(type=string),0,paramType,(type=string),null
wifi_setApSecurityModeEnabled : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),setApSecurityModeEnabled,paramType,(type=string),null
wifi_getApWpaEncryptionMode : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getApWpaEncryptionMode,param,(type=string),0,paramType,(type=string),null
wifi_setApWpaEncryptionMode : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),setApWpaEncryptionMode,paramType,(type=string),null
wifi_getRadioExtChannel : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getRadioExtChannel,param,(type=string),0,paramType,(type=string),null
wifi_setRadioExtChannel : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),setRadioExtChannel,paramType,(type=string),null
wifi_getRadioBasicDataTransmitRates : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getRadioBasicDataTransmitRates,param,(type=string),0,paramType,(type=string),null
wifi_setRadioBasicDataTransmitRates : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),setRadioBasicDataTransmitRates,paramType,(type=string),null
wifi_getSSIDName : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getSSIDName,param,(type=string),0,paramType,(type=string),null
wifi_setSSIDName : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),setSSIDName,paramType,(type=string),null
wifi_getRadioDCSChannelPool : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getRadioDCSChannelPool,param,(type=string),0,paramType,(type=string),null
wifi_setRadioDCSChannelPool : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),setRadioDCSChannelPool,paramType,(type=string),null
wifi_getApStatus : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getApStatus,param,(type=string),0,paramType,(type=string),null
wifi_getApSecurityModesSupported : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getApSecurityModesSupported,param,(type=string),0,paramType,(type=string),null
wifi_getApSecurityPreSharedKey : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getApSecurityPreSharedKey,param,(type=string),0,paramType,(type=string),null
wifi_setApSecurityPreSharedKey : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),setApSecurityPreSharedKey,paramType,(type=string),null
wifi_getApSecurityKeyPassphrase : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getApSecurityKeyPassphrase,param,(type=string),0,paramType,(type=string),null
wifi_setApSecurityKeyPassphrase : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),setApSecurityKeyPassphrase,paramType,(type=string),null
wifi_getApWpsConfigMethodsSupported : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getApWpsConfigMethodsSupported,param,(type=string),0,paramType,(type=string),null
wifi_getApWpsConfigMethodsEnabled : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getApWpsConfigMethodsEnabled,param,(type=string),0,paramType,(type=string),null
wifi_setApWpsConfigMethodsEnabled : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),setApWpsConfigMethodsEnabled,paramType,(type=string),null
wifi_getRadioTransmitPowerSupported : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getRadioTransmitPowerSupported,param,(type=string),0,paramType,(type=string),null
wifi_getRadioMaxBitRate : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getRadioMaxBitRate,param,(type=string),0,paramType,(type=string),null
wifi_getRadioCountryCode : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getRadioCountryCode,param,(type=string),0,paramType,(type=string),null
wifi_setRadioCountryCode : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),setRadioCountryCode,paramType,(type=string),null
wifi_getSSIDMACAddress : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getSSIDMACAddress,param,(type=string),0,paramType,(type=string),null
wifi_getApWpsConfigurationState : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getApWpsConfigurationState,param,(type=string),0,paramType,(type=string),null
wifi_getBaseBSSID : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getBaseBSSID,param,(type=string),0,paramType,(type=string),null
wifi_getHalVersion : WIFIHAL_GetOrSetParamStringValue = ;radioIndex,(type=integer),0,methodName,(type=string),getHalVersion,param,(type=string),0,paramType,(type=string),null
wifi_getBandSteeringApGroup : WIFIHAL_GetOrSetParamStringValue = ;radioIndex,(type=integer),0,methodName,(type=string),getBandSteeringApGroup,param,(type=string),0,paramType,(type=string),null
wifi_setBandSteeringApGroup : WIFIHAL_GetOrSetParamStringValue = param,(type=string);radioIndex,(type=integer),0,methodName,(type=string),setBandSteeringApGroup,paramType,(type=string),null
wifi_pushSSID : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),pushSSID,paramType,(type=string),null
wifi_getApName : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer);methodName,(type=string),getApName,param,(type=string),0,paramType,(type=string),null
wifi_setApWpsEnrolleePin : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),setApWpsEnrolleePin,paramType,(type=string),null
wifi_kickApAssociatedDevice : WIFIHAL_GetOrSetParamStringValue = radioIndex,(type=integer),param,(type=string);methodName,(type=string),kickApAssociatedDevice,paramType,(type=string),null
wifi_getRadioStandard : WIFIHAL_GetOrSetRadioStandard = radioIndex,(type=integer);methodName,(type=string),getRadioStandard,param,(type=string),0,gOnly,(type=integer),0,nOnly,(type=integer),0,acOnly,(type=integer),0,paramType,(type=string),null
wifi_setRadioChannelMode : WIFIHAL_GetOrSetRadioStandard = radioIndex,(type=integer),gOnly,(type=integer),nOnly,(type=integer),acOnly,(type=integer),param,(type=string);methodName,(type=string),setRadioChannelMode,paramType,(type=string),null
wifi_getRadioMCS : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer);methodName,(type=string),getRadioMCS,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioMCS : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioMCS,paramType,(type=string),null
wifi_getRadioStatsReceivedSignalLevel : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer);methodName,(type=string),getRadioStatsReceivedSignalLevel,param,(type=integer),0,paramType,(type=string),null
wifi_getApRadioIndex : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer);methodName,(type=string),getApRadioIndex,param,(type=integer),0,paramType,(type=string),null
wifi_setApRadioIndex : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setApRadioIndex,paramType,(type=string),null
wifi_getSSIDRadioIndex : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer);methodName,(type=string),getSSIDRadioIndex,param,(type=integer),0,paramType,(type=string),null
wifi_setApBeaconInterval : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setApBeaconInterval,paramType,(type=string),null
wifi_setDTIMInterval : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setDTIMInterval,paramType,(type=string),null
wifi_setApAuthMode : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setApAuthMode,paramType,(type=string),null
wifi_getApMacAddressControlMode : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer);methodName,(type=string),getApMacAddressControlMode,param,(type=integer),0,paramType,(type=string),null
wifi_setApMacAddressControlMode : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setApMacAddressControlMode,paramType,(type=string),null
wifi_getBandSteeringBandUtilizationThreshold : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer);methodName,(type=string),getBandSteeringBandUtilizationThreshold,param,(type=integer),0,paramType,(type=string),null
wifi_setBandSteeringBandUtilizationThreshold : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setBandSteeringBandUtilizationThreshold,paramType,(type=string),null
wifi_getBandSteeringRSSIThreshold : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer);methodName,(type=string),getBandSteeringRSSIThreshold,param,(type=integer),0,paramType,(type=string),null
wifi_setBandSteeringRSSIThreshold : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setBandSteeringRSSIThreshold,paramType,(type=string),null
wifi_getBandSteeringPhyRateThreshold : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer);methodName,(type=string),getBandSteeringPhyRateThreshold,param,(type=integer),0,paramType,(type=string),null
wifi_setBandSteeringPhyRateThreshold : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setBandSteeringPhyRateThreshold,paramType,(type=string),null
wifi_getApManagementFramePowerControl : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer);methodName,(type=string),getApManagementFramePowerControl,param,(type=integer),0,paramType,(type=string),null
wifi_setApManagementFramePowerControl : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setApManagementFramePowerControl,paramType,(type=string),null
wifi_getApVlanID : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer);methodName,(type=string),getApVlanID,param,(type=integer),0,paramType,(type=string),null
wifi_getBandSteeringOverloadInactiveTime : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer);methodName,(type=string),getBandSteeringOverloadInactiveTime,param,(type=integer),0,paramType,(type=string),null
wifi_setBandSteeringOverloadInactiveTime : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setBandSteeringOverloadInactiveTime,paramType,(type=string),null
wifi_getBandSteeringIdleInactiveTime : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer);methodName,(type=string),getBandSteeringIdleInactiveTime,param,(type=integer),0,paramType,(type=string),null
wifi_setBandSteeringIdleInactiveTime : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setBandSteeringIdleInactiveTime,paramType,(type=string),null
wifi_getRadioTxChainMask : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer);methodName,(type=string),getRadioTxChainMask,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioTxChainMask : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioTxChainMask,paramType,(type=string),null
wifi_getRadioRxChainMask : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer);methodName,(type=string),getRadioRxChainMask,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioRxChainMask : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioRxChainMask,paramType,(type=string),null
wifi_getRadioCarrierSenseThresholdRange : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer);methodName,(type=string),getRadioCarrierSenseThresholdRange,param,(type=integer),0,paramType,(type=string),null
wifi_getRadioCarrierSenseThresholdInUse : WIFIHAL_GetOrSetParamIntValue = radioIndex,(type=integer);methodName,(type=string),getRadioCarrierSenseThresholdInUse,param,(type=integer),0,paramType,(type=string),null
wifi_getRadioBeaconPeriod : WIFIHAL_GetOrSetParamUIntValue = radioIndex,(type=integer);methodName,(type=string),getRadioBeaconPeriod,param,(type=integer),0,paramType,(type=string),null
wifi_setRadioBeaconPeriod : WIFIHAL_GetOrSetParamUIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioBeaconPeriod,paramType,(type=string),null
wifi_getApAclDeviceNum : WIFIHAL_GetOrSetParamUIntValue = radioIndex,(type=integer);methodName,(type=string),getApAclDeviceNum,param,(type=integer),0,paramType,(type=string),null
wifi_getApRetryLimit : WIFIHAL_GetOrSetParamUIntValue = radioIndex,(type=integer);methodName,(type=string),getApRetryLimit,param,(type=integer),0,paramType,(type=string),null
wifi_setApRetryLimit : WIFIHAL_GetOrSetParamUIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setApRetryLimit,paramType,(type=string),null
wifi_getApMaxAssociatedDevices : WIFIHAL_GetOrSetParamUIntValue = radioIndex,(type=integer);methodName,(type=string),getApMaxAssociatedDevices,param,(type=integer),0,paramType,(type=string),null
wifi_setApMaxAssociatedDevices : WIFIHAL_GetOrSetParamUIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setApMaxAssociatedDevices,paramType,(type=string),null
wifi_getApAssociatedDevicesHighWatermarkThreshold : WIFIHAL_GetOrSetParamUIntValue = radioIndex,(type=integer);methodName,(type=string),getApAssociatedDevicesHighWatermarkThreshold,param,(type=integer),0,paramType,(type=string),null
wifi_setApAssociatedDevicesHighWatermarkThreshold : WIFIHAL_GetOrSetParamUIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setApAssociatedDevicesHighWatermarkThreshold,paramType,(type=string),null
wifi_getApAssociatedDevicesHighWatermark : WIFIHAL_GetOrSetParamUIntValue = radioIndex,(type=integer);methodName,(type=string),getApAssociatedDevicesHighWatermark,param,(type=integer),0,paramType,(type=string),null
wifi_getApAssociatedDevicesHighWatermarkThresholdReached : WIFIHAL_GetOrSetParamUIntValue = radioIndex,(type=integer);methodName,(type=string),getApAssociatedDevicesHighWatermarkThresholdReached,param,(type=integer),0,paramType,(type=string),null
wifi_setApRtsThreshold : WIFIHAL_GetOrSetParamUIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setApRtsThreshold,paramType,(type=string),null
wifi_pushChannel : WIFIHAL_GetOrSetParamUIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),pushChannel,paramType,(type=string),null
wifi_setRadioFragmentationThreshold : WIFIHAL_GetOrSetParamUIntValue = radioIndex,(type=integer),param,(type=integer);methodName,(type=string),setRadioFragmentationThreshold,paramType,(type=string),null
wifi_getIndexFromName : WIFIHAL_GetIndexFromName = param,(type=string);
wifi_clearRadioResetCount : WIFIHAL_ClearRadioResetCount
wifi_reset : WIFIHAL_Reset
wifi_getApSecurityRadiusServer : WIFIHAL_GetOrSetSecurityRadiusServer = radioIndex,(type=integer);IPAddress,(type=string),0,RadiusSecret,(type=string),0,port,(type=integer),0,paramType,(type=string),null,methodName,(type=string),getApSecurityRadiusServer
wifi_setApSecurityRadiusServer : WIFIHAL_GetOrSetSecurityRadiusServer = radioIndex,(type=integer),IPAddress,(type=string),RadiusSecret,(type=string),port,(type=integer);paramType,(type=string),null,methodName,(type=string),setApSecurityRadiusServer
wifi_getApSecuritySecondaryRadiusServer : WIFIHAL_GetOrSetSecurityRadiusServer = radioIndex,(type=integer);IPAddress,(type=string),0,RadiusSecret,(type=string),0,port,(type=integer),0,paramType,(type=string),null,methodName,(type=string),getApSecuritySecondaryRadiusServer
wifi_setApSecuritySecondaryRadiusServer : WIFIHAL_GetOrSetSecurityRadiusServer = radioIndex,(type=integer),IPAddress,(type=string),RadiusSecret,(type=string),port,(type=integer);paramType,(type=string),null,methodName,(type=string),setApSecuritySecondaryRadiusServer
wifi_getApBridgeInfo : WIFIHAL_GetOrSetApBridgeInfo = radioIndex,(type=integer);bridgeName,(type=string),0,subnet,(type=string),0,IP,(type=string),0,paramType,(type=string),null,methodName,(type=string),getApBridgeInfo
wifi_setApBridgeInfo : WIFIHAL_GetOrSetApBridgeInfo = radioIndex,(type=integer),bridgeName,(type=string),IP,(type=string),subnet,(type=string);paramType,(type=string),null,methodName,(type=string),setApBridgeInfo
wifi_getRadioDCSScanTime : WIFIHAL_GetOrSetRadioDCSScanTime = radioIndex,(type=integer);output_interval_seconds,(type=integer),0,output_dwell_milliseconds,(type=integer),0,methodName,(type=string),getRadioDCSScanTime,paramType,(type=string),null
wifi_setRadioDCSScanTime : WIFIHAL_GetOrSetRadioDCSScanTime = radioIndex,(type=integer),output_interval_seconds,(type=integer),output_dwell_milliseconds,(type=integer);methodName,(type=string),setRadioDCSScanTime,paramType,(type=string),null
wifi_addApAclDevice : WIFIHAL_AddorDelApAclDevice = apIndex,(type=integer),DeviceMacAddress,(type=string);methodName,(type=string),addApAclDevice
wifi_delApAclDevice : WIFIHAL_AddorDelApAclDevice = apIndex,(type=integer),DeviceMacAddress,(type=string);methodName,(type=string),delApAclDevice
wifi_ifConfigUp : WIFIHAL_IfConfigUporDown = apIndex,(type=integer);methodName,(type=string),ifConfigUp
wifi_ifConfigDown : WIFIHAL_IfConfigUporDown = apIndex,(type=integer);methodName,(type=string),ifConfigDown
wifi_cancelApWPS : WIFIHAL_ParamRadioIndex = radioIndex,(type=integer);methodName,(type=string),cancelApWPS
wifi_setApSecurityReset : WIFIHAL_ParamRadioIndex = radioIndex,(type=integer);methodName,(type=string),setApSecurityReset
wifi_resetApVlanCfg : WIFIHAL_ParamRadioIndex = radioIndex,(type=integer);methodName,(type=string),resetApVlanCfg
wifi_disableApEncryption : WIFIHAL_ParamRadioIndex = radioIndex,(type=integer);methodName,(type=string),disableApEncryption
wifi_removeApSecVaribles : WIFIHAL_ParamRadioIndex = radioIndex,(type=integer);methodName,(type=string),removeApSecVaribles
wifi_initRadio : WIFIHAL_ParamRadioIndex = radioIndex,(type=integer);methodName,(type=string),initRadio
wifi_factoryResetRadio : WIFIHAL_ParamRadioIndex = radioIndex,(type=integer);methodName,(type=string),factoryResetRadio
wifi_startHostApd : WIFIHAL_StartorStopHostApd = ;methodName,(type=string),startHostApd
wifi_stopHostApd : WIFIHAL_StartorStopHostApd = ;methodName,(type=string),stopHostApd
wifi_factoryReset : WIFIHAL_FactoryReset = ;methodName,(type=string),factoryReset
wifi_factoryResetRadios : WIFIHAL_FactoryReset = ;methodName,(type=string),factoryResetRadios
wifi_getApSecurityRadiusSettings : WIFIHAL_GetOrSetSecurityRadiusSettings = radioIndex,(type=integer);PMKLifetime,(type=integer),0,PMKCacheInterval,(type=integer),0,RadiusServerRequestTimeout,(type=integer),0,QuietPeriodAfterFailedAuthentication,(type=integer),0,MaxAuthenticationAttempts,(type=integer),0,RadiusServerRetries,(type=integer),0,IdentityRequestRetryInterval,(type=integer),0,BlacklistTableTimeout,(type=integer),0,PMKCaching,(type=integer),0,methodName,(type=string),getApSecurityRadiusSettings
wifi_setApSecurityRadiusSettings : WIFIHAL_GetOrSetSecurityRadiusSettings = radioIndex,(type=integer),PMKLifetime,(type=integer),PMKCacheInterval,(type=integer),RadiusServerRequestTimeout,(type=integer),QuietPeriodAfterFailedAuthentication,(type=integer),MaxAuthenticationAttempts,(type=integer),RadiusServerRetries,(type=integer),IdentityRequestRetryInterval,(type=integer),BlacklistTableTimeout,(type=integer),PMKCaching,(type=integer);methodName,(type=string),setApSecurityRadiusSettings
wifi_getSSIDTrafficStats2 : WIFIHAL_GetSSIDTrafficStats2 = radioIndex,(type=integer);
wifihal_end
mocahal_start
moca_GetIfConfig : MoCAHAL_GetIfConfig = ifIndex,(type=integer);paramType,(type=string),null
moca_IfGetDynamicInfo : MoCAHAL_IfGetDynamicInfo = ifIndex,(type=integer);paramType,(type=string),null
moca_IfGetStaticInfo : MoCAHAL_IfGetStaticInfo = ifIndex,(type=integer);paramType,(type=string),null
moca_IfGetStats : MoCAHAL_IfGetStats = ifIndex,(type=integer);paramType,(type=string),null
moca_GetNumAssociatedDevices : MoCAHAL_GetNumAssociatedDevices = ifIndex,(type=integer);paramType,(type=string),null
moca_IfGetExtCounter : MoCAHAL_IfGetExtCounter = ifIndex,(type=integer);paramType,(type=string),null
moca_IfGetExtAggrCounter : MoCAHAL_IfGetExtAggrCounter = ifIndex,(type=integer);paramType,(type=string),null
moca_GetMocaCPEs : MoCAHAL_GetMocaCPEs = ifIndex,(type=integer);paramType,(type=string),null
moca_GetAssociatedDevices : MoCAHAL_GetAssociatedDevices = ifIndex,(type=integer);devCount,(type=integer),0
moca_FreqMaskToValue : MoCAHAL_FreqMaskToValue = ;mask,(type=string),0
moca_HardwareEquipped : MoCAHAL_HardwareEquipped
moca_GetFullMeshRates : MoCAHAL_GetFullMeshRates = ifIndex,(type=integer);count,(type=integer),0,paramType,(type=string),null
moca_GetFullMeshRates : MoCAHAL_GetFlowStatistics = ifIndex,(type=integer);paramType,(type=string),null
mocahal_end
cmhal_start
docsis_getCMStatus : CMHAL_GetParamCharValue = ;paramType,(type=string),NULL,paramName,(type=string),CMStatus
docsis_GetMddIpModeOverride : CMHAL_GetParamCharValue = ;paramType,(type=string),NULL,paramName,(type=string),MddIpModeOverride
docsis_GetProvIpType : CMHAL_GetParamCharValue = ;paramType,(type=string),NULL,paramName,(type=string),ProvIpType
cm_hal_GetMarket : CMHAL_GetParamCharValue = ;paramType,(type=string),NULL,paramName,(type=string),MarketInfo
docsis_GetDOCSISInfo : CMHAL_GetParamCharValue = ;paramType,(type=string),NULL,paramName,(type=string),version
cm_hal_GetIPv6DHCPInfo : CMHAL_GetParamCharValue = ;paramType,(type=string),NULL,paramName,(type=string),Ipv6DhcpBootFileName
cm_hal_GetDHCPInfo : CMHAL_GetParamCharValue = ;paramType,(type=string),NULL,paramName,(type=string),Ipv4DhcpBootFileName
cm_hal_GetIPv6DHCPInfo : CMHAL_GetParamCharValue = ;paramType,(type=string),NULL,paramName,(type=string),Ipv6DhcpIPAddress
docsis_GetDOCSISInfo : CMHAL_GetParamCharValue = ;paramType,(type=string),NULL,paramName,(type=string),ConfigFileName
docsis_GetDOCSISInfo : CMHAL_GetParamCharValue = ;paramType,(type=string),NULL,paramName,(type=string),DS_DataRate
docsis_GetDOCSISInfo : CMHAL_GetParamCharValue = ;paramType,(type=string),NULL,paramName,(type=string),US_DataRate
docsis_GetNumOfActiveRxChannels : CMHAL_GetParamCharValue = ;paramType,(type=string),NULL,paramName,(type=string),DS_Frequency
cm_hal_InitDB : CMHAL_Init = ;paramName,(type=string),InitDB
cm_hal_GetCPEList : CMHAL_GetCPEList = flag,(type=integer);
cm_hal_HTTP_LED_Flash : CMHAL_SetLEDFlashStatus = LEDFlash,(type=string);
cmhal_end
dhcp_start
dhcpv4c_get_ecm_config_attempts : dhcp_stub_hal_get_ecm_config_attempts = flag,(type=integer);
dhcpv4c_get_ecm_dhcp_svr : dhcp_stub_hal_get_ecm_dhcp_svr = flag,(type=integer);
dhcp_end
cosamta_start
mta_hal_LineTableGetEntry : CosaMTA_LineTableGetEntry = ;bufferType,(type=integer),0,handleType,(type=integer),0
cosamta_end
halethsw_start
CcspHalEthSwGetPortAdminStatus : ethsw_stub_hal_Get_Port_Admin_Status = PortID,(type=integer);flag,(type=integer),0
CcspHalEthSwSetPortAdminStatus : ethsw_stub_hal_SetPortAdminStatus = adminstatus,(type=integer),PortID,(type=integer);
CcspHalEthSwGetPortCfg : ethsw_stub_hal_Get_Port_Cfg = PortID,(type=integer);flag,(type=integer),0
CcspHalEthSwSetPortCfg : ethsw_stub_hal_SetPortCfg = PortID,(type=integer),linkrate,(type=integer),mode,(type=string);
CcspHalEthSwSetAgingSpeed : ethsw_stub_hal_SetAgingSpeed = PortID,(type=integer),AgingSpeed,(type=integer);
halethsw_end
halplatform_start
platform_hal_GetChipTemperature : platform_stub_hal_GetChipTemperature = chipIndex,(type=integer),flag,(type=integer);
platform_hal_getRotorLock : platform_stub_hal_getRotorLock
halplatform_end
eponhal_start
dpoe_getManufacturerInfo : EPONHAL_GetManufacturerInfo
eponhal_end
